

body {
	background-color: #DCDCDC;
	height: 5000px;
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center;

}
.block_1{
	border: 2px;
	border-radius: 10px;
	padding: 10px;
}




.block_{
	background-color: #FFFFF;
}

